<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
</head>
<body>
<div class="table-container">
    <h2 class="todo-title">Delete Todo</h2>
    <a href="" class="btn">Back</a>

    <div class="confirm">
        <p>
            Are you sure you to delete this task
            <a href="" class="btn">Yes</a>
            <a href="" class="btn">No</a>
        </p>
    </div>
</div>
</body>
</html>
