<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <div class="table-container">
      <h2 class="todo-title">Delete Todo</h2>
      <a href="/" class="btn">Return To TODO List</a>

      <div class="confirm">
        <p>
          Are you sure you to delete this task
          <button class="btn">Yes</button>
          <button class="btn">No</button>
        </p>
      </div>
    </div>
  </body>
</html>
