<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/style.css" />
    <title>Todo App</title>
  </head>
  <body>
    <div class="table-container">
      <h2 class="todo-title">Todo List</h2>
      <div>
        <a href="add-todo" class="btn">Add todo</a>
      </div>
      <br />

      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>

        <tr>
          <td>Test todo title</td>
          <td>Test todo description</td>
          <td>Test todo created</td>
          <td>Test todo update</td>
          <td>
            <a href="update-todo" class="btn">Update</a>
            <a href="delete-todo" class="btn">Delete</a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
